<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="b0b1bf3e-9c35-434c-823b-4858ac56f51a"
    Publisher="CN=tsk"
    Version="0.9.3.0" />

  <Properties>
    <DisplayName>Soloplan.WhatsON.GUI.App</DisplayName>
    <PublisherDisplayName>tsk</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Soloplan.WhatsON.GUI.App"
        Description="Soloplan.WhatsON.GUI.App"
        BackgroundColor="transparent"
        Square150x150Logo="Images\StoreLogo.png"
        Square44x44Logo="Images\StoreLogo.png">
        <uap:DefaultTile Square310x310Logo="Images\StoreLogo.png" Square71x71Logo="Images\StoreLogo.png" Wide310x150Logo="Images\StoreLogo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square310x310Logo"/>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:LockScreen BadgeLogo="Images\StoreLogo.png" Notification="badge"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
